@font-face {
  font-family: Exo2;
  src: url("../../docs/Exo2.0-Thin.otf");
}
.root {
  align-self: center;
  justify-self: center;
}
.title {
  padding: 0 0 35px 0;
  font-family: Exo2, sans-serif;
  font-size: 34px;
  color: #fff;
  text-align: center;
}
.boxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  margin: 0 40px;
}
