.root {
  position: relative;
  margin: 0 0 25px 0;
  width: 320px;
  overflow: hidden;
}
.root::before,
.root::after,
.box::before,
.box::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
}
.root::before,
.root::after {
  top: 12px;
  left: 13px;
  background: #f2f2f2;
}
.root::before {
  width: 63px;
  height: 63px;
  top: 12px;
  left: 12px;
  border-style: solid;
  border-width: 0 0 0 4px;
  transform: rotate(45deg);
  z-index: -2;
}
.root::before,
.box::before,
.box::after {
  border-color: #1698d9;
}
.root::after {
  width: 100%;
  height: 433px;
  top: 45px;
  left: 0;
  border-radius: 0 0 11px 11px;
  z-index: -1;
}
.box {
  position: relative;
  width: 100%;
  height: 480px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  border-radius: 11px;
  overflow: hidden;
}
.box::before,
.box::after {
  border-style: solid;
  border-width: 4px 4px 0 0;
}
.box::before {
  width: 276px;
  height: 63px;
  top: 0;
  right: 0;
  background: #f2f2f2;
  border-width: 4px 4px 0 0;
  border-radius: 0 11px 0 0;
  z-index: -1;
}
.box::after {
  width: 100%;
  top: 43px;
  left: 0;
  bottom: 0;
  border-width: 0 4px 4px 4px;
  border-radius: 0 0 11px 11px;
}
.title {
  margin: 0 0 6px 0;
  padding-top: 18px;
  font-size: 16px;
  color: #666;
}
.title,
.name,
.info {
  padding-left: 44px;
  padding-right: 44px;
}
.name {
  margin: 0 0 11px 0;
  color: #000;
  font-size: 48px;
}
.type {
  padding: 0 0 4px;
  font-size: 24px;
}
.info {
  margin: 0;
  color: #666;
  list-style-type: none;
  font-size: 13px;
}
.picture {
  position: absolute;
  left: -26px;
  bottom: -92px;
}
.size {
  position: absolute;
  padding: 5px 0;
  box-sizing: border-box;
  right: 10px;
  bottom: 10px;
  background: #1698d9;
  width: 81px;
  height: 81px;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  font-size: 17px;
}
.size__number {
  padding: 3px 0 0;
  font-size: 43px;
  line-height: 43px;
}
.root_state_disabled .box {
  cursor: default;
}
.root_state_disabled.root::before,
.root_state_disabled .box::before,
.root_state_disabled .box::after {
  border-color: #b3b3b3;
}
.root_state_disabled .box,
.root_state_disabled .title,
.root_state_disabled .name,
.root_state_disabled .info {
  color: #d2d2d2;
}
.root_state_disabled .size {
  background: #b3b3b3;
}
.root_state_disabled .picture {
  opacity: 0.5;
}
.root_state_hover.root::before,
.root_state_hover .box::before,
.root_state_hover .box::after {
  border-color: #2ea8e6;
}
.root_state_hover .size {
  background: #2ea8e6;
}
.root_state_selected.root::before,
.root_state_selected .box::before,
.root_state_selected .box::after,
.root_state_selected.root_state_hover.root::before,
.root_state_selected.root_state_hover .box::before,
.root_state_selected.root_state_hover .box::after {
  border-color: #d91667;
}
.root_state_selected .size,
.root_state_selected.root_state_hover .size {
  background: #d91667;
}
.root_state_selectedHover.root::before,
.root_state_selectedHover .box::before,
.root_state_selectedHover .box::after {
  border-color: #e62e7a;
}
.root_state_selectedHover .size {
  background: #e62e7a;
}
.root_state_selectedHover .title {
  color: #e62e7a;
}
